@model Student
<center><h1>Student Data</h1></center>

<table class="table table-dark table-sm">
    <tbody>
        <tr>
            <th> ID </th>
            <th> Name</th>
            <th> Gender</th>
            <th> Branch</th>
            <th> Section</th>
        </tr>
        <tr>
            <td>@Model.Id</td>
            <td>@Model.Name</td>
            <td>@Model.Gender</td>
            <td>@Model.Branch</td>
            <td>@Model.Section</td>

        </tr>
    </tbody>

</table>